<section id="about-us-id" class="about-us-container container">
  <h2 class="about-us-title">About the Game</h2>
  <div class="about-us-wrapper">
    <div class="about-us-description">
      <h3 class="about-us-subtitle">Indy Cat 2: Match 3 Game</h3>
      <p class="about-us-text">
        invites players to join the adventurous Indy Cat on a journey through
        ancient lands and forgotten ruins. With captivating match-3 puzzles,
        powerful boosters, and a unique storyline, Indy Cat 2 offers both casual
        fun and challenging gameplay for puzzle enthusiasts of all ages.
      </p>
    </div>

    <picture class="about-us-image">
      <source
        srcset="
          /img/about-us/screen-desk-img.png    1x,
          /img/about-us/screen-desk-img@2x.png 2x
        "
        type="image/png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /img/about-us/screen-mob-img.png    1x,
          /img/about-us/screen-mob-img@2x.png 2x
        "
        type="image/png"
        media="(max-width: 1199px)"
      />
      <img
        src="/img/about-us/screen-mob-img.png"
        alt="Game screens"
        class="about-us-image"
      />
    </picture>
  </div>
</section>
