<section id="about-us-id" class="about-us-container container">
  <h2 class="about-us-title">About the Game</h2>
  <div class="about-us-wrapper">
    <div class="about-us-description">
      <h3 class="about-us-subtitle">Indy Cat 2: Match 3 Game</h3>
      <p class="about-us-text">
        invites players to join the adventurous Indy Cat on a journey through
        ancient lands and forgotten ruins. With captivating match-3 puzzles,
        powerful boosters, and a unique storyline, Indy Cat 2 offers both casual
        fun and challenging gameplay for puzzle enthusiasts of all ages.
      </p>
    </div>

    <div class="about-us-image-wrapper">
      <picture class="about-us-image about-us-image--left">
        <source
          srcset="
            /img/about-us/image1-desk.png    1x,
            /img/about-us/image1-desk@2x.png 2x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /img/about-us/image1-mob.png    1x,
            /img/about-us/image1-mob@2x.png 2x
          "
          type="image/png"
          media="(max-width: 1199px)"
        />
        <img
          src="/img/about-us/image1-mob.png"
          alt="Game screens"
          class="about-us-image"
        />
      </picture>

      <picture class="about-us-image about-us-image--center">
        <source
          srcset="
            /img/about-us/image2-desk.png    1x,
            /img/about-us/image2-desk@2x.png 2x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /img/about-us/image2-mob.png    1x,
            /img/about-us/image2-mob@2x.png 2x
          "
          type="image/png"
          media="(max-width: 1199px)"
        />
        <img src="/img/about-us/image2-mob.png" alt="Game screens" />
      </picture>

      <picture class="about-us-image about-us-image--right">
        <source
          srcset="
            /img/about-us/image3-desk.png    1x,
            /img/about-us/image3-desk@2x.png 2x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /img/about-us/image3-mob.png    1x,
            /img/about-us/image3-mob@2x.png 2x
          "
          type="image/png"
          media="(max-width: 1199px)"
        />
        <img src="/img/about-us/image3-mob.png" alt="Game screens" />
      </picture>
    </div>
  </div>
</section>
