<section class="advantages">
  <div class="container">
    <div class="wrapper">
      <h2 class="title">Advantages</h2>
      <ul class="actions">
        <li class="action">
          <p>Adventure-Based Gameplay</p>
          <p>
            Solve puzzles and progress through exciting storylines with Indy
            Cat.
          </p>
        </li>
        <li class="action">
          <p>Power-Ups and Boosters</p>
          <p>Use special power-ups to overcome challenging puzzles.</p>
        </li>
        <li class="action">
          <p>Challenging Match-3 Levels</p>
          <p>
            Test your skills with over 1000 levels of increasing difficulty.
          </p>
        </li>
        <li class="action">
          <p>Events and Updates</p>
          <p>
            Enjoy frequent updates and participate in limited-time events for
            extra prizes.
          </p>
        </li>
      </ul>
    </div>

    <div class="thumb">
      <!-- Path to images as from index.html file -->
      <img
        class="pic"
        src="./img/vite-logo.png"
        alt="Vite logo"
        width="640"
        height="640"
      />
    </div>
  </div>
</section>
