<section class="benefits__container container">
  <h2 class="advantages__title">Benefits</h2>

  <ul class="benefits__list">
    <li class="benefits__item">
      <picture>
        <source
          srcset="/img/benefits/rewards.png 1x, /img/benefits/rewards@2x.png 2x"
          type="image/png"
        />
        <img src="/img/benefits/rewards.png" alt="Rewards icon" />
      </picture>

      <p class="benefits__title">Daily Rewards</p>
      <p class="benefits__descriptions">
        Collect rewards every day to boost your gameplay
      </p>
    </li>

    <li class="benefits__item">
      <img
        src="../img/benefits/icon-Offline.png"
        alt="icon-Offline"
        class="benefits__icon-Offline"
      />
      <p class="benefits__title">Offline Play</p>
      <p class="benefits__descriptions">
        Continue your adventure anytime, even without an internet connection
      </p>
    </li>

    <li class="benefits__item">
      <img
        src="../img/benefits/icon-Storyline.png"
        alt="icon-Storyline"
        class="benefits__icon-Storyline"
      />
      <p class="benefits__title">Captivating Storyline</p>
      <p class="benefits__descriptions">
        Follow Indy Cat on his journey to uncover ancient artifacts
      </p>
    </li>

    <li class="benefits__item">
      <img
        src="../img/benefits/icon-Content.png"
        alt="icon-Content"
        class="benefits__icon-Content"
      />
      <p class="benefits__title">Regular Content</p>
      <p class="benefits__descriptions">
        Enjoy new levels, challenges, and events added frequently
      </p>
    </li>

    <li>
      <a
        href="https://play.google.com/store"
        target="_blank"
        class="hero-button hero-button-mob"
        rel="noopener"
      >
        <img src="/img/hero/btn-img.svg" alt="Google Play" />
      </a>
    </li>
  </ul>
</section>
