<section id="benefits-id" class="benefits__container container">
  <h2 class="benefits__title">Benefits</h2>

  <ul class="benefits__list">
    <li
      class="benefits__item"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <picture>
        <source
          srcset="/img/benefits/rewards.png 1x, /img/benefits/rewards@2x.png 2x"
          type="image/png"
        />
        <img src="/img/benefits/rewards.png" alt="Rewards icon" />
      </picture>

      <p class="benefits__subtitle">Daily Rewards</p>
      <p class="benefits__descriptions">
        Collect rewards every day to boost your gameplay
      </p>
    </li>

    <li
      class="benefits__item"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <picture>
        <source
          srcset="/img/benefits/offline.png 1x, /img/benefits/offline@2x.png 2x"
          type="image/png"
        />
        <img src="/img/benefits/offline.png" alt="Offline icon" />
      </picture>

      <p class="benefits__subtitle">Offline Play</p>
      <p class="benefits__descriptions">
        Continue your adventure anytime, even without an internet connection
      </p>
    </li>

    <li
      class="benefits__item"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <picture>
        <source
          srcset="/img/benefits/story.png 1x, /img/benefits/story@2x.png 2x"
          type="image/png"
        />
        <img src="/img/benefits/story.png" alt="Story icon" />
      </picture>

      <p class="benefits__subtitle">Captivating Storyline</p>
      <p class="benefits__descriptions">
        Follow Indy Cat on his journey to uncover ancient artifacts
      </p>
    </li>

    <li
      class="benefits__item"
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
    >
      <picture>
        <source
          srcset="/img/benefits/content.png 1x, /img/benefits/content@2x.png 2x"
          type="image/png"
        />
        <img src="/img/benefits/content.png" alt="Content icon" />
      </picture>

      <p class="benefits__subtitle">Regular Content</p>
      <p class="benefits__descriptions">
        Enjoy new levels, challenges, and events added frequently
      </p>
    </li>
  </ul>

  <a
    href="https://play.google.com/store/apps/details?id=com.playflock.indicatfb.indianacat.blast.puzzles.garden.home.matchington.adventures.merge.saga"
    target="_blank"
    class="benefits__button"
  >
    <img src="/img/benefits/btn-img.svg" alt="Google Play" />
  </a>
</section>
