<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <ul>
        <li>
          <a
            class="footer__link"
            href="../privat-policy.html"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Privacy Policy/</a
          >
          <a
            class="footer__link"
            href="../terms-and-conditions.html"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Terms and Conditions</a
          >
        </li>
      </ul>
      <p>©2024 CoolStarAdventureHub.com, All rights reserved</p>
    </div>
  </div>
</footer>
