<section id="gallery-id" class="gallery__container container">
  <h2 class="gallery-title">Gallery</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          srcset="../img/gallery/picture-2x.jpg"
          src="../img/gallery/picture.jpg"
          alt="Match 3"
          width="261"
          class="gallery-content__photos"
        />
      </div>
      <div class="swiper-slide">
        <img
          srcset="../img/gallery/many-levels-2x.jpg"
          src="../img/gallery/many-levels.jpg"
          alt="Play many levels"
          width="261"
          class="gallery-content__photos"
        />
      </div>
      <div class="swiper-slide">
        <img
          srcset="../img/gallery/travel-2x.jpg"
          src="../img/gallery/travel.jpg"
          alt="Travel around the world"
          width="261"
          class="gallery-content__photos"
        />
      </div>
      <div class="swiper-slide">
        <img
          srcset="../img/gallery/play-anywhere-2x.jpg"
          src="../img/gallery/play-anywhere.jpg"
          alt="Play anywhere"
          width="261"
          class="gallery-content__photos"
        />
      </div>
      <div class="swiper-slide">
        <img
          srcset="../img/gallery/win-2x.jpg"
          src="../img/gallery/win.jpg"
          alt="Win"
          width="261"
          class="gallery-content__photos"
        />
      </div>
    </div>
    <div class="swiper-button-next">
      <svg class="swiper-button-next" width="66" height="66">
        <use href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
    <div class="swiper-button-prev" width="66" height="66">
      <svg><use href="/img/sprite.svg#icon-arrow-left"></use></svg>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
