<section id="hero-id" class="hero-container container">
  <div class="hero-description">
    <h1 class="hero-title">
      Indy Cat 2: <br />
      Match 3 Game
    </h1>
    <p class="hero-text">
      Embark on a Match-3 <br />
      Adventure with Indy Cat!
    </p>
    <a
      href="https://play.google.com/store/apps/details?id=com.playflock.indicatfb.indianacat.blast.puzzles.garden.home.matchington.adventures.merge.saga"
      target="_blank"
      class="hero-button hero-button-desk"
    >
      <img src="/img/hero/btn-img.svg" alt="Google Play" />
    </a>
  </div>

  <picture>
    <source
      srcset="
        /img/hero/screen-desk-img.png    1x,
        /img/hero/screen-desk-img@2x.png 2x
      "
      type="image/png"
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        /img/hero/screen-mob-img.png    1x,
        /img/hero/screen-mob-img@2x.png 2x
      "
      type="image/png"
      media="(max-width: 1199px)"
    />
    <img
      src="/img/hero/screen-mob-img.png"
      alt="Game screens"
      class="hero-image"
    />
  </picture>
  <a
    href="https://play.google.com/store/apps/details?id=com.playflock.indicatfb.indianacat.blast.puzzles.garden.home.matchington.adventures.merge.saga"
    target="_blank"
    class="hero-button hero-button-mob"
  >
    <img src="/img/hero/btn-img.svg" alt="Google Play" />
  </a>
</section>
