<section id="reviews-id" class="reviews-container container">
  <h2 class="reviews-title">Reviews</h2>
  <ul class="reviews-list">
    <li class="reviews-item">
      <p class="rev-item-name">PuzzleMaster</p>
      <p class="rev-item-text">
        "A fantastic match-3 adventure! Love the storyline with Indy Cat."
      </p>
    </li>
    <li class="reviews-item">
      <p class="rev-item-name">TreasureHunter</p>
      <p class="rev-item-text">
        "Challenging and fun. The power-ups really help when levels get tough!"
      </p>
    </li>
    <li class="reviews-item">
      <p class="rev-item-name">AdventureLover</p>
      <p class="rev-item-text">
        "One of the best match-3 games I've played. Great graphics and
        gameplay!"
      </p>
    </li>
    <li class="reviews-item">
      <p class="rev-item-name">CatFanatic</p>
      <p class="rev-item-text">
        "Indy Cat is adorable! The storyline makes it so much more engaging."
      </p>
    </li>
    <li class="reviews-item">
      <p class="rev-item-name">Match3Guru</p>
      <p class="rev-item-text">
        "Addictive and rewarding. The daily bonuses keep me coming back every
        day!"
      </p>
    </li>
  </ul>
</section>
