.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
}

.about-us-title {
  font-family: 'Carter One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.about-us-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-us-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-us-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.about-us-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .about-us-container {
    background-image: image-set(
      url(/img/about-us/bg-desk@.png) 1x,
      url(/img/about-us/bg-desk@2x.png) 2x
    );
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto auto;
    padding: 64px 72px;
  }
  .about-us-title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .about-us-wrapper {
    flex-direction: row-reverse;
    gap: 24px;
  }
  .about-us-description {
    max-width: 558px;
  }
  .about-us-subtitle {
    font-size: 28px;
  }
  .about-us-text {
    font-size: 28px;
  }
}
