.benefits__container {
  height: 986px;
}

.title {
  font-family: 'Carter One', system-ui;
  font-weight: 400;
  font-style: normal;
  margin-left: 63px;
  margin-right: 63px;
  margin-bottom: 24px;
  @include font(28, 42);
  color: $_main_color;
  text-align: center;
}

.benefits__icon-Rewards,
.benefits__icon-Offline,
.benefits__icon-Storyline,
.benefits__icon-Content {
  padding-top: 16px;
  margin-left: 124px;
  margin-right: 124px;
  margin-bottom: 8px;
}

.benefits__list {
  min-width: 320px;
  width: 288px;
  height: 183px;
  margin-left: 16px;
  margin-right: 16px;
  @include media(desktop) {
    margin-left: 72px;
    margin-right: 72px;
  }
}

.benefits__item {
  width: 288px;
  height: 183px;
  border-radius: 8px;
  margin-bottom: 16px;
  color: $_main_color;
  background-color: $_header_color;
}

.benefits__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
  @include font(16, 24);
  text-align: center;
}

.benefits__descriptions {
  width: 256px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  @include font(16, 24);
  text-align: center;
}

.hero-button {
  margin-top: 24px;
  margin-left: 44px;
  margin-bottom: 32px;
}
