.benefits__container {
  padding: 32px 16px;

  @include media(desktop) {
    padding: 64px 72px;
  }
}

.benefits__title {
  font-family: 'Carter One', system-ui;
  font-weight: 400;
  @include font(28, 42);
  margin-bottom: 24px;
  text-align: center;

  @include media(desktop) {
    @include font(48, 72);
    margin-bottom: 40px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding-bottom: 24px;
  @include media(desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 28px;
    padding-bottom: 56px;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: $_header_color;
  height: 182px;

  @include media(desktop) {
    gap: 10px;
    height: 308px;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: translateY(-20px) !important;
    }
  }
}

.benefits__subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  @include font(16, 24);

  @include media(desktop) {
    @include font(24, 36);
  }
}

.benefits__descriptions {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  @include font(16, 24);

  @include media(desktop) {
    @include font(24, 36);
  }
}

.benefits__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 12px;
  border-radius: 8px;
  border: 2px solid #a6a6a6;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 56px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &:hover::before {
    animation: fill 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $_header_accent_color;
    z-index: -1;
    transition: none;
  }

  @keyframes fill {
    to {
      width: 100%;
    }
  }
}
