@import './header.scss';
@import './hero.scss';
@import './rewiews.scss';
@import './about-us.scss';
@import './advantages.scss';
@import './privat-pages.scss';


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  background-color: #e8e0a1;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
