@import './header.scss';
@import './hero.scss';
@import './reviews.scss';
@import './about-us.scss';
@import './advantages.scss';
@import './gallery.scss';
@import './benefits.scss';
@import './footer.scss';
@import './pages-styles.scss';
@import 'common/container';

:root {
  font-family: Carter, Raleway, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
